<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bookmanager.repository.BookMapper">

    <select id="findAll" resultType="com.example.bookmanager.entity.BookEntity">
        SELECT * FROM books
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO books(title, author, publisher, published_date, stock)
        VALUES(#{title}, #{author}, #{publisher}, #{publishedDate}, #{stock})
    </insert>

    <update id="update">
        UPDATE books SET
        title = #{title},
        author = #{author},
        publisher = #{publisher},
        published_date = #{publishedDate},
        stock = #{stock}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM books WHERE id = #{id}
    </delete>

</mapper>